<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="<%= title %>" />
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <% include partials/favicon %>
        <script src="/javascripts/aframe.min.js"></script>
        <script src="/javascripts/aframe-animation-component@3.0.1.js"></script>
        <script src="/javascripts/aframe-event-set-component@3.0.1.js"></script>
        <script src="/javascripts/aframe-layout-component@3.0.1.js"></script>
        <script src="/javascripts/aframe-template-component@3.1.1.js"></script>
        <script src="/javascripts/set-image-v2.js"></script>
    </head>
<body>
    <a-scene>
        <a-assets>
            <% include partials/assets %>
        </a-assets>

        <!-- 360-degree image. -->
        <a-sky id="image-360" radius="10" src="#reception1"></a-sky>

        <!-- Image links. -->
        <a-entity template="src: #link" data-src="#reception1" data-thumb="#reception1-thumb"
                  position="0 0 -8"></a-entity>
        <a-entity template="src: #link" data-src="#reception3" data-thumb="#reception3-thumb"
                  position="6 0 -6" rotation="0 -50 0"></a-entity>
        <a-entity template="src: #link" data-src="#workstation1" data-thumb="#workstation1-thumb"
                  position="8 0 2" rotation="0 -100 0"></a-entity>
        <a-entity template="src: #link" data-src="#workstation2" data-thumb="#workstation2-thumb"
                  position="2 0 8" rotation="0 -180 0"></a-entity>
        <a-entity template="src: #link" data-src="#workstation3" data-thumb="#workstation3-thumb"
                  position="-6 0 6" rotation="0 -220 0"></a-entity>
        <a-entity template="src: #link" data-src="#pantry1" data-thumb="#pantry1-thumb"
                  position="-8 0 0" rotation="0 -270 0"></a-entity>
        <a-entity template="src: #link" data-src="#pantry2" data-thumb="#pantry2-thumb"
                  position="-6 0 -6" rotation="0 -320 0"></a-entity>


        <!-- Camera + cursor. -->
        <a-entity camera look-controls>
            <a-cursor id="cursor"
                animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
                animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500"
                event-set__1="_event: mouseenter; color: springgreen"
                event-set__2="_event: mouseleave; color: black"
                fuse="true"
                raycaster="objects: .link"></a-cursor>
        </a-entity>
    </a-scene>
</body>
</html>
